.logo{
    width: 80px;
    height: 80px;
    margin: 20px auto 0;
    border-radius: 10%;        
    background-size: 100%;        
}

.text-primary {
    color: color($colors, primary);
  }

  .auth-page {
    background-color: #fff;
    &::after {
      content: "";
      background: url("../assets/imgs/mapa2.png") no-repeat;
      background-size: cover;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 0;
      filter: blur(1px);
    }
}

.list-form {
    padding: 0;
    margin-bottom: 0;

    ion-item {
      background: none;
      padding: 0;

      &:first-child {
        border-top: none;
      }

      &:after {
        display: none;
      }

      ion-label {
        font-size: 1em;
        color:color($colors, dark);
      }

      input {
        
      }
    }
  }